__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
__pypackages__/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.idea/
*.DS_Store
.env
.env.*
.venv/
.poetry/
__pypackages__/
docker-compose.override.yml
htmlcov/
.tox/
.coverage
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.tmp
